.page__footer-wrapper {
  box-sizing: border-box;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 896px) {
  .page__footer-wrapper {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 720px) {
  .page__footer-wrapper {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: auto;
  }
}
