.intro__list {
  margin: 33px 0 0 148px;
  padding: 0;
  max-width: 690px;
  list-style: none;
}

@media screen and (max-width: 1152px) {
  .intro__list {
    margin: 33px 0 0 48px;
    padding: 0;
    max-width: 690px;
    list-style: none;
  }
}

@media screen and (max-width: 896px) {
  .intro__list {
    margin-left: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 688px) {
  .intro__list {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
