.content {
  display: grid;
  grid-template-rows: repeat(auto, max-content);
  row-gap: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 896px) {
  .content {
    row-gap: 86px;
  }
}

@media screen and (max-width: 688px) {
  .content {
    row-gap: 64px;
  }
}
