.content__places {
  margin: 0 148px 0;
}

@media screen and (max-width: 1152px) {
  .content__places {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 896px) {
  .content__places {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 688px) {
  .content__places {
    margin: 0;
  }
}
