.content__photo-grid {
  margin: 0 48px 0;
}

@media screen and (max-width: 896px) {
  .content__photo-grid {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 688px) {
  .content__photo-grid {
    margin-left: 16px;
    margin-right: 16px;
  }
}
