.lead__title {
  margin: 0 0 16px;
  padding: 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 688px) {
  .lead__title {
    margin-bottom: 8px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
