.lead__image {
  margin: 32px 0 0;
  padding: 0;
  max-width: 100%;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    margin-top: 28px;
  }
}

@media screen and (max-width: 688px) {
  .lead__image {
    margin-top: 20px;
  }
}
