.intro__text {
  margin: 0 0 0 148px;
  padding: 20px 0 0;
  max-width: 690px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1152px) {
  .intro__text {
    margin-left: 48px;
  }
}

@media screen and (max-width: 896px) {
  .intro__text {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 688px) {
  .intro__text {
    margin-left: 16px;
    margin-right: 16px;
  }
}
