.page__header-wrapper {
  margin: 28px 48px 56px;
}

@media screen and (max-width: 1152px) {
  .page__header-wrapper {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 896px) {
  .page__header-wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .page__header-wrapper {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
