.place__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 896px) {
  .place__description {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 688px) {
  .place__description {
    margin-left: 16px;
  }
}
